
.vs/IPViewer/v16/.suo
IpViewer/bin/Debug/IpViewer2.exe
IpViewer/bin/Debug/IpViewer2.exe.config
IpViewer/bin/Debug/IpViewer2.pdb
IpViewer/bin/Debug/IViewer.BO.dll
IpViewer/bin/Debug/IViewer.BO.pdb
IpViewer/bin/Debug/log4net.dll
IpViewer/bin/Debug/log4net.xml
IpViewer/bin/Debug/logs/ip-viewer.log
IpViewer/bin/Release/IpViewer2.exe
IpViewer/bin/Release/IpViewer2.exe.config
IpViewer/bin/Release/IpViewer2.pdb
IpViewer/bin/Release/IViewer.BO.dll
IpViewer/bin/Release/IViewer.BO.pdb
IpViewer/bin/Release/log4net.dll
IpViewer/bin/Release/log4net.xml
IpViewer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
IpViewer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IpViewer/obj/Debug/IpViewer.csprojAssemblyReference.cache
IpViewer/obj/Debug/IpViewer2.AboutBox1.resources
IpViewer/obj/Debug/IpViewer2.csproj.CopyComplete
IpViewer/obj/Debug/IpViewer2.csproj.CoreCompileInputs.cache
IpViewer/obj/Debug/IpViewer2.csproj.FileListAbsolute.txt
IpViewer/obj/Debug/IpViewer2.csproj.GenerateResource.cache
IpViewer/obj/Debug/IpViewer2.csprojAssemblyReference.cache
IpViewer/obj/Debug/IpViewer2.exe
IpViewer/obj/Debug/IpViewer2.Form1.resources
IpViewer/obj/Debug/IpViewer2.IpViewerSettings.resources
IpViewer/obj/Debug/IpViewer2.pdb
IpViewer/obj/Debug/IpViewer2.Properties.Resources.resources
IpViewer/obj/Release/IpViewer2.AboutBox1.resources
IpViewer/obj/Release/IpViewer2.csproj.CopyComplete
IpViewer/obj/Release/IpViewer2.csproj.CoreCompileInputs.cache
IpViewer/obj/Release/IpViewer2.csproj.FileListAbsolute.txt
IpViewer/obj/Release/IpViewer2.csproj.GenerateResource.cache
IpViewer/obj/Release/IpViewer2.csprojAssemblyReference.cache
IpViewer/obj/Release/IpViewer2.exe
IpViewer/obj/Release/IpViewer2.Form1.resources
IpViewer/obj/Release/IpViewer2.IpViewerSettings.resources
IpViewer/obj/Release/IpViewer2.pdb
IpViewer/obj/Release/IpViewer2.Properties.Resources.resources
IViewer.BO/bin/Debug/netstandard2.0/IViewer.BO.deps.json
IViewer.BO/bin/Debug/netstandard2.0/IViewer.BO.dll
IViewer.BO/bin/Debug/netstandard2.0/IViewer.BO.pdb
IViewer.BO/bin/Release/netstandard2.0/IViewer.BO.deps.json
IViewer.BO/bin/Release/netstandard2.0/IViewer.BO.dll
IViewer.BO/bin/Release/netstandard2.0/IViewer.BO.pdb
IViewer.BO/obj/Debug/netstandard2.0/IViewer.BO.AssemblyInfo.cs
IViewer.BO/obj/Debug/netstandard2.0/IViewer.BO.AssemblyInfoInputs.cache
IViewer.BO/obj/Debug/netstandard2.0/IViewer.BO.assets.cache
IViewer.BO/obj/Debug/netstandard2.0/IViewer.BO.csproj.CoreCompileInputs.cache
IViewer.BO/obj/Debug/netstandard2.0/IViewer.BO.csproj.FileListAbsolute.txt
IViewer.BO/obj/Debug/netstandard2.0/IViewer.BO.csprojAssemblyReference.cache
IViewer.BO/obj/Debug/netstandard2.0/IViewer.BO.dll
IViewer.BO/obj/Debug/netstandard2.0/IViewer.BO.pdb
IViewer.BO/obj/IViewer.BO.csproj.nuget.dgspec.json
IViewer.BO/obj/IViewer.BO.csproj.nuget.g.props
IViewer.BO/obj/IViewer.BO.csproj.nuget.g.targets
IViewer.BO/obj/project.assets.json
IViewer.BO/obj/project.nuget.cache
IViewer.BO/obj/Release/netstandard2.0/IViewer.BO.AssemblyInfo.cs
IViewer.BO/obj/Release/netstandard2.0/IViewer.BO.AssemblyInfoInputs.cache
IViewer.BO/obj/Release/netstandard2.0/IViewer.BO.assets.cache
IViewer.BO/obj/Release/netstandard2.0/IViewer.BO.csproj.CoreCompileInputs.cache
IViewer.BO/obj/Release/netstandard2.0/IViewer.BO.csproj.FileListAbsolute.txt
IViewer.BO/obj/Release/netstandard2.0/IViewer.BO.dll
IViewer.BO/obj/Release/netstandard2.0/IViewer.BO.pdb
packages/log4net.2.0.8/.signature.p7s
packages/log4net.2.0.8/lib/net20-full/log4net.dll
packages/log4net.2.0.8/lib/net20-full/log4net.xml
packages/log4net.2.0.8/lib/net35-client/log4net.dll
packages/log4net.2.0.8/lib/net35-client/log4net.xml
packages/log4net.2.0.8/lib/net35-full/log4net.dll
packages/log4net.2.0.8/lib/net35-full/log4net.xml
packages/log4net.2.0.8/lib/net40-client/log4net.dll
packages/log4net.2.0.8/lib/net40-client/log4net.xml
packages/log4net.2.0.8/lib/net40-full/log4net.dll
packages/log4net.2.0.8/lib/net40-full/log4net.xml
packages/log4net.2.0.8/lib/net45-full/log4net.dll
packages/log4net.2.0.8/lib/net45-full/log4net.xml
packages/log4net.2.0.8/lib/netstandard1.3/log4net.dll
packages/log4net.2.0.8/log4net.2.0.8.nupkg
IpViewer/obj/Debug/IpViewer.csproj.CopyComplete
IpViewer/obj/Debug/IpViewer.csproj.CoreCompileInputs.cache
IpViewer/obj/Debug/IpViewer.csproj.FileListAbsolute.txt
IpViewer/obj/Debug/IpViewer.csproj.GenerateResource.cache
IpViewer.BusinessObject/bin/Debug/IpViewer.BusinessObject.dll
IpViewer.BusinessObject/bin/Debug/IpViewer.BusinessObject.pdb
IpViewer.BusinessObject/bin/Debug/log4net.dll
IpViewer.BusinessObject/bin/Debug/log4net.xml
IpViewer.BusinessObject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IpViewer.BusinessObject/obj/Debug/IpViewer.BusinessObject.csproj.CopyComplete
IpViewer.BusinessObject/obj/Debug/IpViewer.BusinessObject.csproj.CoreCompileInputs.cache
IpViewer.BusinessObject/obj/Debug/IpViewer.BusinessObject.csproj.FileListAbsolute.txt
IpViewer.BusinessObject/obj/Debug/IpViewer.BusinessObject.csprojAssemblyReference.cache
IpViewer.BusinessObject/obj/Debug/IpViewer.BusinessObject.dll
IpViewer.BusinessObject/obj/Debug/IpViewer.BusinessObject.pdb
IpViewer.BusinessObject/packages.config
IpViewer.BusinessObject/Properties/AssemblyInfo.cs
*.pdb
*.dll
IpViewer/obj/Debug/IpViewer.exe
IpViewer/obj/Debug/IpViewer.Properties.Resources.resources
IpViewer.BusinessObject/bin/Release/log4net.xml
IpViewer.BusinessObject/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
IpViewer.BusinessObject/obj/Release/IpViewer.BusinessObject.csproj.CopyComplete
IpViewer.BusinessObject/obj/Release/IpViewer.BusinessObject.csproj.CoreCompileInputs.cache
IpViewer.BusinessObject/obj/Release/IpViewer.BusinessObject.csproj.FileListAbsolute.txt
IpViewer/bin/Debug/IpViewer.BusinessObject.dll
IpViewer/bin/Debug/IpViewer.BusinessObject.pdb
IpViewer/bin/Debug/IpViewer.exe
IpViewer/bin/Debug/IpViewer.exe.config
IpViewer/bin/Release/IpViewer.exe
IpViewer/bin/Release/IpViewer.exe.config
IpViewer/obj/Debug/build.force
IpViewer/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
IpViewer/obj/Release/IpViewer.csproj.CopyComplete
IpViewer/obj/Release/IpViewer.csproj.CoreCompileInputs.cache
IpViewer/obj/Release/IpViewer.csproj.FileListAbsolute.txt
IpViewer/obj/Release/IpViewer.csproj.GenerateResource.cache
IpViewer/obj/Release/IpViewer.csprojAssemblyReference.cache
IpViewer/obj/Release/IpViewer.exe
IpViewer/obj/Release/IpViewer.Properties.Resources.resources
IpViewer/obj/Release/IpViewer2.Settings.resources
IpViewer/bin/Debug/IpViewer.exe.config
IpViewer/bin/Debug/IpViewer.exe
IpViewer/bin/Debug/IpViewer.BusinessObject.pdb
IpViewer/bin/Debug/IpViewer.BusinessObject.dll
IpViewer/bin/Debug/IpViewer.exe
IpViewer/bin/Debug/IpViewer.exe
IpViewer/bin/Debug/IpViewer.exe
IpViewer/bin/Debug/IpViewer.exe.config
*.exe
IpViewer/bin/Debug/IpViewer.exe.config
IpViewer/bin/Debug/logs/ip-viewer.log.2020-04-13
IpViewerSetup/Debug/IpViewerSetup_5.msi
IpViewerSetup/Release/IpViewerSetup_5.tmp
IpViewerSetup/Release/IpViewerSetup_5.msi
IpViewer/bin/Debug/IpViewer.BusinessObject.dll
IpViewer/bin/Debug/IpViewer.BusinessObject.pdb
IpViewer/bin/Debug/IpViewer.exe
IpViewer/bin/Debug/IpViewer.exe.config
IpViewerCore/bin/Debug/netcoreapp3.1/IpViewerCore.deps.json
IpViewerCore/bin/Debug/netcoreapp3.1/IpViewerCore.runtimeconfig.dev.json
IpViewerCore/bin/Debug/netcoreapp3.1/IpViewerCore.runtimeconfig.json
IpViewerCore/obj/Debug/netcoreapp3.1/IpViewerCore.AssemblyInfo.cs
IpViewerCore/obj/Debug/netcoreapp3.1/IpViewerCore.AssemblyInfoInputs.cache
IpViewerCore/obj/Debug/netcoreapp3.1/IpViewerCore.assets.cache
IpViewerCore/obj/Debug/netcoreapp3.1/IpViewerCore.csproj.CoreCompileInputs.cache
IpViewerCore/obj/Debug/netcoreapp3.1/IpViewerCore.csproj.FileListAbsolute.txt
IpViewerCore/obj/Debug/netcoreapp3.1/IpViewerCore.csprojAssemblyReference.cache
IpViewerCore/obj/Debug/netcoreapp3.1/IpViewerCore.genruntimeconfig.cache
IpViewerCore/obj/IpViewerCore.csproj.nuget.dgspec.json
IpViewerCore/obj/IpViewerCore.csproj.nuget.g.props
IpViewerCore/obj/IpViewerCore.csproj.nuget.g.targets
IpViewerCore/obj/project.assets.json
IpViewerCore/obj/project.nuget.cache
.vs/IPViewer/DesignTimeBuild/.dtbcache.v2
IpViewer/bin/Debug/IpViewer.BusinessObject.dll
IpViewer/bin/Debug/IpViewer.BusinessObject.pdb
IpViewer/bin/Debug/IpViewer.exe
IpViewerCore/obj/Debug/netcoreapp3.1/IpViewerCore.AboutBox.resources
IpViewerCore/obj/Debug/netcoreapp3.1/IpViewerCore.csproj.GenerateResource.cache
IpViewerCore/IpViewerCore.csproj.user
IpViewer/bin/Debug/IpViewer.exe.config
IpViewer/bin/Debug/IpViewer.exe
IpViewer/bin/Debug/IpViewer.BusinessObject.pdb
IpViewer/bin/Debug/IpViewer.BusinessObject.dll
IpViewerCore/obj/Release/netcoreapp3.1/IpViewerCore.csprojAssemblyReference.cache
IpViewerCore/obj/Release/netcoreapp3.1/IpViewerCore.assets.cache
IpViewerCore/obj/Release/netcoreapp3.1/IpViewerCore.AssemblyInfoInputs.cache
IpViewerCore/obj/Release/netcoreapp3.1/IpViewerCore.AssemblyInfo.cs
/IpViewer/obj/Release
/IpViewer.BusinessObject/obj/Release/IpViewer.BusinessObject.csprojAssemblyReference.cache
IpViewerCore/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
IpViewerCore/obj/Debug/netcoreapp3.1/IpViewerCore.designer.deps.json
IpViewerCore/obj/Debug/netcoreapp3.1/IpViewerCore.designer.runtimeconfig.json
IpViewerCore/obj/Debug/netcoreapp3.1/IpViewerCore.Form1.resources
IpViewer/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
IpViewer/bin/Debug/IpViewer.BusinessObject.dll
IpViewer/bin/Debug/IpViewer.BusinessObject.pdb
IpViewer/bin/Debug/IpViewer.exe
IpViewer/bin/Debug/IpViewer.exe.config
IpViewer/bin/Debug/IpViewer.exe
IpViewer/bin/Debug/IpViewer.exe.config
IpViewerCore/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
IpViewerSetup/Debug/IpViewerSetup_5_1.msi
IpViewerSetup/Release/IpViewerSetup_5_1.msi
IpViewerSetup/Release/IpViewerSetup_5_2.msi
IpViewerCore/bin/Release/netcoreapp3.1/IpViewerCore.deps.json
IpViewerCore/bin/Release/netcoreapp3.1/IpViewerCore.runtimeconfig.dev.json
IpViewerCore/bin/Release/netcoreapp3.1/IpViewerCore.runtimeconfig.json
IpViewerCore/obj/Release/netcoreapp3.1/IpViewerCore.AboutBox.resources
IpViewerCore/obj/Release/netcoreapp3.1/IpViewerCore.csproj.CoreCompileInputs.cache
IpViewerCore/obj/Release/netcoreapp3.1/IpViewerCore.csproj.FileListAbsolute.txt
IpViewerCore/obj/Release/netcoreapp3.1/IpViewerCore.csproj.GenerateResource.cache
IpViewerCore/obj/Release/netcoreapp3.1/IpViewerCore.Form1.resources
IpViewerCore/obj/Release/netcoreapp3.1/IpViewerCore.genruntimeconfig.cache
IpViewer/bin/Debug/IpViewer.BusinessObject.dll
IpViewer/bin/Debug/IpViewer.BusinessObject.pdb
IpViewer/bin/Debug/IpViewer.exe
IpViewer/bin/Debug/IpViewer.exe.config
IpViewer/bin/Debug/logs/ip-viewer.log.2020-10-03
IpViewer/bin/Debug/IpViewer.BusinessObject.dll
IpViewer/bin/Debug/IpViewer.BusinessObject.pdb
IpViewer/bin/Debug/IpViewer.exe
IpViewer/bin/Debug/IpViewer.exe.config
IpViewer/bin/Debug/IpViewer.exe.config
IpViewer/bin/Debug/IpViewer.exe
