
.vs/IPViewer/v16/.suo
IpViewer/bin/Debug/IpViewer2.exe
IpViewer/bin/Debug/IpViewer2.exe.config
IpViewer/bin/Debug/IpViewer2.pdb
IpViewer/bin/Debug/IViewer.BO.dll
IpViewer/bin/Debug/IViewer.BO.pdb
IpViewer/bin/Debug/log4net.dll
IpViewer/bin/Debug/log4net.xml
IpViewer/bin/Debug/logs/ip-viewer.log
IpViewer/bin/Release/IpViewer2.exe
IpViewer/bin/Release/IpViewer2.exe.config
IpViewer/bin/Release/IpViewer2.pdb
IpViewer/bin/Release/IViewer.BO.dll
IpViewer/bin/Release/IViewer.BO.pdb
IpViewer/bin/Release/log4net.dll
IpViewer/bin/Release/log4net.xml
IpViewer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
IpViewer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IpViewer/obj/Debug/IpViewer.csprojAssemblyReference.cache
IpViewer/obj/Debug/IpViewer2.AboutBox1.resources
IpViewer/obj/Debug/IpViewer2.csproj.CopyComplete
IpViewer/obj/Debug/IpViewer2.csproj.CoreCompileInputs.cache
IpViewer/obj/Debug/IpViewer2.csproj.FileListAbsolute.txt
IpViewer/obj/Debug/IpViewer2.csproj.GenerateResource.cache
IpViewer/obj/Debug/IpViewer2.csprojAssemblyReference.cache
IpViewer/obj/Debug/IpViewer2.exe
IpViewer/obj/Debug/IpViewer2.Form1.resources
IpViewer/obj/Debug/IpViewer2.IpViewerSettings.resources
IpViewer/obj/Debug/IpViewer2.pdb
IpViewer/obj/Debug/IpViewer2.Properties.Resources.resources
IpViewer/obj/Release/IpViewer2.AboutBox1.resources
IpViewer/obj/Release/IpViewer2.csproj.CopyComplete
IpViewer/obj/Release/IpViewer2.csproj.CoreCompileInputs.cache
IpViewer/obj/Release/IpViewer2.csproj.FileListAbsolute.txt
IpViewer/obj/Release/IpViewer2.csproj.GenerateResource.cache
IpViewer/obj/Release/IpViewer2.csprojAssemblyReference.cache
IpViewer/obj/Release/IpViewer2.exe
IpViewer/obj/Release/IpViewer2.Form1.resources
IpViewer/obj/Release/IpViewer2.IpViewerSettings.resources
IpViewer/obj/Release/IpViewer2.pdb
IpViewer/obj/Release/IpViewer2.Properties.Resources.resources
IViewer.BO/bin/Debug/netstandard2.0/IViewer.BO.deps.json
IViewer.BO/bin/Debug/netstandard2.0/IViewer.BO.dll
IViewer.BO/bin/Debug/netstandard2.0/IViewer.BO.pdb
IViewer.BO/bin/Release/netstandard2.0/IViewer.BO.deps.json
IViewer.BO/bin/Release/netstandard2.0/IViewer.BO.dll
IViewer.BO/bin/Release/netstandard2.0/IViewer.BO.pdb
IViewer.BO/obj/Debug/netstandard2.0/IViewer.BO.AssemblyInfo.cs
IViewer.BO/obj/Debug/netstandard2.0/IViewer.BO.AssemblyInfoInputs.cache
IViewer.BO/obj/Debug/netstandard2.0/IViewer.BO.assets.cache
IViewer.BO/obj/Debug/netstandard2.0/IViewer.BO.csproj.CoreCompileInputs.cache
IViewer.BO/obj/Debug/netstandard2.0/IViewer.BO.csproj.FileListAbsolute.txt
IViewer.BO/obj/Debug/netstandard2.0/IViewer.BO.csprojAssemblyReference.cache
IViewer.BO/obj/Debug/netstandard2.0/IViewer.BO.dll
IViewer.BO/obj/Debug/netstandard2.0/IViewer.BO.pdb
IViewer.BO/obj/IViewer.BO.csproj.nuget.dgspec.json
IViewer.BO/obj/IViewer.BO.csproj.nuget.g.props
IViewer.BO/obj/IViewer.BO.csproj.nuget.g.targets
IViewer.BO/obj/project.assets.json
IViewer.BO/obj/project.nuget.cache
IViewer.BO/obj/Release/netstandard2.0/IViewer.BO.AssemblyInfo.cs
IViewer.BO/obj/Release/netstandard2.0/IViewer.BO.AssemblyInfoInputs.cache
IViewer.BO/obj/Release/netstandard2.0/IViewer.BO.assets.cache
IViewer.BO/obj/Release/netstandard2.0/IViewer.BO.csproj.CoreCompileInputs.cache
IViewer.BO/obj/Release/netstandard2.0/IViewer.BO.csproj.FileListAbsolute.txt
IViewer.BO/obj/Release/netstandard2.0/IViewer.BO.dll
IViewer.BO/obj/Release/netstandard2.0/IViewer.BO.pdb
packages/log4net.2.0.8/.signature.p7s
packages/log4net.2.0.8/lib/net20-full/log4net.dll
packages/log4net.2.0.8/lib/net20-full/log4net.xml
packages/log4net.2.0.8/lib/net35-client/log4net.dll
packages/log4net.2.0.8/lib/net35-client/log4net.xml
packages/log4net.2.0.8/lib/net35-full/log4net.dll
packages/log4net.2.0.8/lib/net35-full/log4net.xml
packages/log4net.2.0.8/lib/net40-client/log4net.dll
packages/log4net.2.0.8/lib/net40-client/log4net.xml
packages/log4net.2.0.8/lib/net40-full/log4net.dll
packages/log4net.2.0.8/lib/net40-full/log4net.xml
packages/log4net.2.0.8/lib/net45-full/log4net.dll
packages/log4net.2.0.8/lib/net45-full/log4net.xml
packages/log4net.2.0.8/lib/netstandard1.3/log4net.dll
packages/log4net.2.0.8/log4net.2.0.8.nupkg
IpViewer/obj/Debug/IpViewer.csproj.CopyComplete
IpViewer/obj/Debug/IpViewer.csproj.CoreCompileInputs.cache
IpViewer/obj/Debug/IpViewer.csproj.FileListAbsolute.txt
IpViewer/obj/Debug/IpViewer.csproj.GenerateResource.cache
